*{
	margin: 0;
	padding: 0;
}

:root {
	--main-brown-color: #372018;

	--main-yellow-color: #FCE43A;

	--main-ivory-color: #FFFFF0;
	--main-ivory-color-clear: rgba(255, 255, 240, 0.9);
	/* color: var(--main-brown-color);*/
}

body{
	font-size: 16px;
	min-width: 320px;
	position: relative;
}
