html, body, #intro {
    height: 100%;
    background-color: #FFFFF0;
    color: #372018;
     background: url(../img/gallery/Ð¡ourses/back_courses.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

div.card {
    background-color: #FFFFF0;
    color: #372018;
    padding: 10px;
}

.introbgr {
    border: 1px solid #372018;
    background-color: #FFFFF0;
}

div.plans {
    border: 1px solid #372018;
    background-color: #FFFFF0;
    
}

