:root {
	--main-brown-color: #372018;

	--main-yellow-color: #FCE43A;

	--main-ivory-color: #FFFFF0;
  /*color: var(--main-ivory-color);*/
}

*{
  margin: 0;
  padding: 0;
}


/*heder nav Yaroslav*/

/*header*/
header{
	color: var(--main-brown-color);
	background: url(../img/bg/bg2.png) no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
}

#header-for-all-website-id{
	padding: 20px 5% 5%;
}


.translucent{
	background-color: rgba(255, 255, 240, 0.9);
	padding: 10px 10px;
}

.logo{
	width: 90px;
}
.logo:hover{
  transform: rotate(-10deg);
  transition: 0.1s;
}

a{
	color: var(--main-brown-color);
	font-weight: 600;
}
a:hover{
	color: #ffa000;
}
.fa-mobile-alt{
  margin-right: 10px;
}
.fa-mobile-alt:hover{
  transform: rotate(360deg);
  transition: 0.9s;
}


/*navbar*/

.fixed-top{
	margin: 0 9%;
	background-color: rgba(255, 255, 240, 0.9);

}


/*/navbar*/


/* / heder nav Yaroslav*/



/*section courses */
.border-for-section{
    background-color: var(--main-ivory-color);
    color: var(--main-brown-color);
    border: 2px solid var(--main-brown-color);
    margin: 5%;

}

footer.page-footer {
    background-color: var(--main-brown-color);
    color: #F4F2C1;
}

/* *** Contact *** */
.contacts_main{
  font-size: 1.2em;
}
.envelope{
  box-shadow: 0 0 3px 2px #aaa;
  max-width: 800px;
  padding: 0;
}
.title_before_form, .our-contact{
  margin: 0 0 20px 0;
  padding: 5px 10px;
  box-shadow: -1px 2px 1px #aaa;
  font-size: 1.78571rem;
  font-weight: 600;
}
.feedback{
  border: none;
  border-bottom: 1px dotted #000;
  color: var(--main-brown-color);
  width:96%;
  overflow: hidden;
  padding: 0 5px 0 0;
  background-color: inherit;
  margin: 0 2% ;
  font-size: 1.14286rem;
}
p.feedback {
  float: right;
}
form .feedback{
  padding: 2px 10px;
  border-radius: 5px;
}
form .feedback:focus{
  background-color: rgba(57, 34, 2, 0.1);
  transition: background 0.5s ease-out;
}
.send_mess{
  margin:10px 2%;
  padding: 0.64286rem 1.42857rem;
  cursor: pointer;
  color: #F4F2C1;
  background: var(--main-brown-color);
  border: none;
  font-size: 0.92857rem;
  transition: all .2s ease-in-out;
  text-transform: uppercase;
}
.send_mess:hover {
  color: var(--main-brown-color);
  background: #F4F2C1;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
}
.map{
  height: 400px;
}
.map iframe{
  width: 100%; 
  height: 100%;
  }
/* *** End contact *** */
#DR1{
  text-align:center;
  line-height: 50px;
  font-weight:bolder;
  font-size:30px;
}
#DR2{
   text-align:center;
   font-weight:bolder;
   font-size:20px;
 }
#DR3{
  text-align:center;
  font-size:20px;
}
#pic {
  float: left;

}
#text {
  margin-left: 110px;
}

/* *** Start Carousel *** */
.sizeCarousel
{
  padding: 20px;
}
.some
{
  position: absolute;
  width: calc(100% - 110px);
  height: calc(100% - 110px);
  left: 55px;
  top: 55px;
  text-align: center;
  padding-top: 220px;
  border: 1px solid #fff;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
/* *** End Carousel *** */

