#DR1{
    text-align:center;
    line-height: 50px;
    /*font-weight:bolder;*/
    /*font-size:30px;*/
}
#DR2{
    text-align:center;
    /*font-weight:bolder;*/
    /*font-size:20px;*/
}
#DR3{
    text-align:center;
    /*font-size:20px;*/
}
#pic {
    float: left;

}
#text {
    margin-left: 110px;
}