img {
    max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
    outline: none;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

ul,
ol {
    padding: 0;
    margin: 0;
}

/*---------------------
	Helper CSS
-----------------------*/
.spad {
    padding-top: 130px;
    padding-bottom: 130px;
}

.sp-pad {
    padding-left: 150px;
    padding-right: 150px;
}

.sp-sub-title {
    color: #868686;
    font-size: 12px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.sp-title {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 45px;
    letter-spacing: 6px;
}

.section-title h2 {
    display: inline-block;
    position: relative;
    margin-bottom: 110px;
    padding-bottom: 2px;
    line-height: normal;
}

.section-title h2:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    background: #40424a;
}

.set-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 0;
}

/*------------------------
  Common Elements
--------------------------*/


/*---------------------
	Portfolio section
-----------------------*/
.portfolio-warp {
    position: relative;
    display: block;
    overflow: hidden;
}

.single-portfolio {
    height: 580px;
    width: 32.5%;
    /*margin: 3px;*/
    position: relative;
    float: left;
    display: block;
    background-position: center center;
}

.single-portfolio.sm-wide {
    width: 22.222222%;
}

.single-portfolio:hover .portfolio-info {
    opacity: 1;
}

.portfolio-info {
    position: absolute;
    width: calc(100% - 110px);
    height: calc(100% - 110px);
    left: 55px;
    top: 55px;
    text-align: center;
    padding-top: 220px;
    border: 1px solid #fff;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.portfolio-info .pfbg {
    position: absolute;
    width: 110%;
    height: 110%;
    left: -5%;
    top: -5%;
    -webkit-transform: scale(1.12);
    -ms-transform: scale(1.12);
    transform: scale(1.12);
    -webkit-filter: blur(20px);
    filter: blur(20px);
    background-position: center center;
}

.portfolio-info h5 {
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    z-index: 9;
    position: relative;
    margin-bottom: 10px;
}

.portfolio-info p {
    font-size: 14px;
    color: #fff;
    z-index: 9;
    position: relative;
}

.portfolio-filter {
    list-style: none;
}

.portfolio-filter li {
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    margin-right: 12px;
    color: #868686;
    font-weight: 600;
    cursor: pointer;
}

.portfolio-filter li.mixitup-control-active {
    color: #111;
}








/*---------------------
	Responsive
-----------------------*/
@media only screen and (max-width: 1650px) {
    .sp-pad {
        padding-left: 90px;
        padding-right: 90px;
    }


}

@media only screen and (max-width: 1510px) {
    .sp-pad {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media only screen and (max-width: 1366px) {

    .single-portfolio {
        height: 400px;
    }
    .portfolio-info {
        width: calc(100% - 40px);
        height: calc(100% - 40px);
        left: 20px;
        top: 20px;
        padding-top: 165px;
    }
}

/* Medium screen : 992px. */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .single-portfolio {
        width: 32%;
    }
    .single-portfolio.sm-wide {
        width: 50%;
    }
    .single-portfolio.sm-wide.md-w-100 {
        width: 100%;
    }
    .single-portfolio .md-w-100 {
        width: 100%;
    }

}

/* Tablet :768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .single-portfolio {
        width: 100%;
    }
    .single-portfolio.sm-wide {
        width: 50%;
    }
    .single-portfolio.sm-wide.md-w-100 {
        width: 100%;
    }
    .single-portfolio .md-w-100 {
        width: 100%;
    }
}

/* Large Mobile :480px. */
@media only screen and (max-width: 767px) {
    .sp-pad {
        padding-left: 15px;
        padding-right: 15px;
    }
    .sp-title {
        font-size: 26px;
    }

    .single-portfolio {
        width: 100%;
    }
    .single-portfolio.sm-wide {
        width: 100%;
    }
    .single-portfolio.sm-wide.md-w-100 {
        width: 100%;
    }
    .single-portfolio .md-w-100 {
        width: 100%;
    }
}

/* small Mobile :320px. */
@media only screen and (max-width: 479px) {
    .sp-pad {
        padding-left: 15px;
        padding-right: 15px;
    }
}